<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Strategic.DataServices.Database.Properties.Settings.ETFConnectionString"
        connectionString="Data Source=STRATINV-GARYCR\SQLEXPRESS;Initial Catalog=ETF;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>